/* -------------------------- PIONOWE MENU CSS ----------------------- */
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
    width: 300px;
    box-shadow: 0 6px 6px -6px #666;
    background-color: rgb(32, 138, 170);

}

#menu ul {
    border: none;
}

#menu li {
    border-bottom: 1px solid #CCC;
}

#menu > li + ul:last-child li:last-child{
    border-bottom: none;
}
#menu > li > a {
    text-decoration: none;
    display: block;
    padding: 15px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 0 #87cefa, 1px 2px 0 #87ceda, 1px 2px 4px #87ceca;
    background-image: linear-gradient(rgb(32, 138, 180) 0%, rgb(32, 138, 200) 40%, rgb(32, 138, 220) 80%, rgb(32, 138, 180) 100%);
    font-size: 20px;
}

#menu > li:hover > a {
    background-image: none;
}

/* --------------------------- ROZWIJANA CZĘŚĆ MENU CSS ------------- */
#menu > li > ul {
    width: 100%;
    display: none;
    right: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #87cefa;
}

#menu > li:hover > ul {
    display: block;
}

#menu > li > ul > li {
    box-shadow: 0 -4px 4px -4px #AAA;
}

#menu > li > ul > li > a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #FFF;
}

#menu > li > ul > li:hover > a {
    color: #000;
    background-color: #F0F0F0;
    background-image: linear-gradient(#87cefa, #87ceda, #87cefa);
}