/* --------------------- POZIOME MENU ---------------------------*/ 
#menu {
    width: 400px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

#menu::after {
    content: '';
    display: block;
    clear: both;
}

#menu > li {
    float: left;
}

#menu > li:first-child {
    background-color:red;
    width:25%;
}

#menu > li:first-child + li {
    background-color:green;
    width:50%;
}
  
#menu > li:first-child + li + li {
    background-color:blue;
    width:25%;
}

#menu > li > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: #DDD;
    box-shadow: 0 0 0 1px #FFF inset;
    background-image: linear-gradient(#FFF 0%, #EEE 40%, #DDD 80%, #FFF 100%);
}

#menu > li:hover > a {
    color: #00F;
    background-color: #FFF;
    background-image: none;
}

/* ------------------------ ROZWIJANA CZĘŚĆ MENU CSS -----------------*/
#menu > li {
    position: relative;
}

#menu > li > ul {
    width: 100%;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: 250ms;
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #FFF;
}

#menu > li:hover > ul {
    visibility: visible;
    transform: scaleY(1);
}

#menu > li > ul > li {
    box-shadow: 0 -4px 4px -4px #AAA;
}

#menu > li > ul > li:first-child {
    box-shadow: none;
}

#menu > li > ul > li:last-child {
    box-shadow: 0 -4px 4px -4px #AAA, 0 4px 4px -4px #AAA;
}

#menu > li > ul > li > a {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    padding: 15px;
    color: #000;
}

#menu > li > ul > li:hover > a {
    color: #00F;
    background-color: #F0F0F0;
    background-image: linear-gradient(#FFF, #EEE, #FFF);
}