.div {
    position: absolute;
    margin: 3px;
    width: 100px;
    height: 100px;
    color: white;
    background: red;
    transition: width 0.8s;
    display: inline-block;
    border: solid cyan 5px; 
    transition-timing-function: ease;
  }
  
  .div3 {
    position: relative;
    top: 40%;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
  }
  
  
  
  .div:hover {
    width: 300px;
  }