<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Boczne menu nawigacji.css">
</head>
<body>

<h1>Boczne menu nawigacji</h1>

<div class="div">
    <div class="div3">ONE</div>
</div><br>

<div class="div">
    <div class="div3">TWO</div>
</div><br>

<div class="div">
    <div class="div3">THREE</div>
</div><br>

<div class="div">
    <div class="div3">FOUR</div>
</div><br>

<div class="div">
    <div class="div3">FIVE</div>
</div><br>

</body>
</html>
