<!DOCTYPE html>
<html>

 <head>
       <meta lang="pol">
 	 <meta charset="utf-8">
 	 <meta name="vievport" content="width-device-width, initial-scale=1 ">

	 <title>Ramka</title>
	 <link rel="stylesheet" type="text/css" href="Ramka.css">

 </head>

 <body>
 	 <header class="header">

 		<p>
 			<span>
 				<h1>Państwa sąsiadujące z Polską</h1>
 			</span>
 		</p>
 			
 	 </header>

 	 <section>
 	 	      <nav class="nav">
 	 	            <ol>
 	 	            	<span>
 	 	            		<li><a href="https://pl.m.wikipedia.org/wiki/Niemcy" target="ramka_a">Niemcy</a></li>
 	 	            	</span>

 	 		            <span>
 	 	            		<li><a href="https://pl.m.wikipedia.org/wiki/Czechy" target="ramka_a">Czechy</a></li>
 	 	            	</span>

 	 		           <span>
 	 	            		<li><a href="https://pl.m.wikipedia.org/wiki/S%C5%82owacja" target="ramka_a">Słowacja</a></li>
 	 	            	</span>
 	 	            	
 	 		            <span>
 	 	            		<li><a href="https://pl.m.wikipedia.org/wiki/Ukraina" target="ramka_a">Ukraina</a></li>
 	 	            	</span>

 	 		            <span>
 	 	            		<li><a href="https://pl.m.wikipedia.org/wiki/Bia%C5%82oru%C5%9B" target="ramka_a">Białoruś</a></li>
 	 	            	</span>

 	 		            <span>
 	 	            		<li><a href="https://pl.m.wikipedia.org/wiki/Litwa" target="ramka_a">Litwa</a></li>
 	 	            	</span>

 	 		            <span>
 	 	            		<li><a href="https://pl.m.wikipedia.org/wiki/Rosja" target="ramka_a">Rosja</a></li>
 	 	            	</span>

 	 	            </ol>
 	            </nav>

 	            <div>
 	            	<iframe class="ramka" name="ramka_a"></iframe>
 	            </div>

 	            <article class="tresc">

 	            </article>


 	 </section>

 	 <footer class="footer">
 	 	<p>Stopka</p>
 	 </footer>

 </body>

</html>

